.range-slider {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;

  appearance: none;
  background: transparent;
}

.range-slider::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;

  height: 16px;
  width: 16px;

  border-radius: 9999px;

  background: var(--color-secondary);
  border: 2px solid white;

  cursor: pointer;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.range-slider::-moz-range-thumb {
  pointer-events: auto;

  height: 16px;
  width: 16px;

  border-radius: 9999px;

  background: var(--color-secondary);
  border: 2px solid white;

  cursor: pointer;
}